import { TestBed } from '@angular/core/testing';

import { <%= classify(name) %> } from './<%= dasherize(name) %>';

describe('<%= classify(name) %>', () => {
    let lib: <%= classify(name) %>;

    beforeEach(() => {
        TestBed.configureTestingModule({});
        lib = TestBed.inject(<%= classify(name) %>);
    });

    it('should be instantiated', () => {
        expect(lib).toBeTruthy();
    });
});
