{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "outDir": "../../dist/out-tsc",
    "module": "commonjs",
    "types": [
      "angular-ui-bootstrap",
      "jest",
      "node"
    ]
  },
  "include": [
    "../../libs/**/*.d.ts",
    "**/*.spec.ts",
    "**/*.test.ts"
  ]
}
